
.Rproj.user/*
.Rproj.user
inst/shiny_apps/MERA/User_autosave.mera
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/paths
inst/shiny_apps/MERA/MSClog
inst/shiny_apps/MERA/MSEobj
inst/shiny_apps/MERA/MSEobj_reb
inst/shiny_apps/MERA/OM
inst/shiny_apps/MERA/OM_autosave.rda
inst/shiny_apps/MERA/PanelState
inst/shiny_apps/MERA/PanelState_autosave.rds
.Rproj.user/shared/notebooks/paths
.Rhistory
.Rhistory
